h1{
    background: green;
    color: orange;
}
p{
    background: cornflowerblue;
    color: #ffff00;
}
h2{
    background: yellow;
    color: cornflowerblue;
}
ul{
    background: tomato;
    color:ivory;
}